.App {
  text-align: center;
}
body{
  background: url("https://images.pexels.com/photos/753325/pexels-photo-753325.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")no-repeat;
}
.cul{
  font-size: 50px;
  color: orangered;
}
.cul1{
  font-size: 50px;
  color: orchid;
}
a.active{
  color: red;
}
a{
  margin-left: 20px;
}

/** CSS MAP **/
li{
 list-style-type: none;
}
h2{
  margin-top: 0px;
  margin-bottom: 0px;
}
.backgroundDistance{
  position: absolute;
  margin-bottom: 0;
  margin-top: 0px;
  height: 20%;
  border: 1px solid orange;
  background: rgb(253, 232, 193);
  width: 98.8%;
  bottom: -10%;
  padding-left: 1%;
}
.buttonItineraire{
  position: absolute;
  z-index: 3;
  margin-left: 1%;
  bottom: -9%;
}
.buttonDistance{
  z-index: 3;
  bottom: 0%;
  padding-right: 4%;
  padding-left: 4%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  Background: rgb(172, 29, 4);
  color: white;
  border: none;
  border-radius: 10px;
}
.textDistance{
  margin: 0;
}
.sectiondroit{
  position: absolute;
  right: 0%;
  min-height: 82.3%;
  max-height: 82.3%;
  background: rgba(253, 232, 193, 0.356);
  width: 24.9%;
  border: 1px solid orange;
  border-radius: 0px 10px 10px 0px;
  opacity: 1;
}
.TitrePage {
  text-align: center;
  margin: 10px;
  font-size: 3em;
  color: white;
  font-family: Arial;
  text-decoration: underline;
  text-shadow: 3px 3px 2px black;
}
.mapSize{
  position: absolute;
  min-width: 75%;
  min-height: 75%;
}
.sectionRelative{
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  z-index: 3;
}
.export{
  font-size: 0.80em;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: bold;
  background: rgb(172, 29, 4);
  color: white;
  border: none;
  border-radius: 10px;
  margin: 3px;
}
.import{
  font-size: 0.80em;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  background: rgb(1, 56, 175); 
  color: white;
  border: none;
  border-radius: 10px;
  margin: 3px;
}
.Page{
  margin-top: 5%;
}

#inputxt{
  height: 90px;
}

.MarkerConfig{
  width: 100%;
  height: 100%;
  background-color: grey;
  text-align: center;
  background: transparent;
}
.imgdiv{
  width: 200px;
  max-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
/* 
.buttondelete{
  margin-left: 20px;
} */

.ulButton{
  width: 60%;
  padding: 4%;
  border: none;
  border-radius: 10px;
  margin-top: 3%;
  margin-bottom: 3%;
}
.delAllButton{
  background: rgb(172, 29, 4);
  color: white;
}
.delButton{
  background: rgb(172, 29, 4);
  color: white;
}
.tracerButton{
  background: rgb(1, 56, 175); 
  color: white;
}
.vttButton{
  background: rgb(1, 56, 175); 
  color: white;
}
.delThisButton{
  width: 60%;
  padding: 4%;
  margin-top: 3%;
  margin-bottom: 3%;
  Background: rgb(172, 29, 4);
  color: white;
  border: none;
  border-radius: 10px;
}
.ulDroit{
  text-align: center;
  padding: 0;
  margin: 5px;
}
.formText{
  width: 65%;
  margin: 5px;
  background: rgb(253, 232, 193);
}
.formButton{
  width: 40%;
  padding: 7px;
  font-size: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  background: rgb(1, 56, 175);
  border: none;
  border-radius: 10px;
}
.formTitre{
  color: rgb(172, 29, 4);
  font-weight: bold;
  text-decoration: underline;
}
::placeholder{
  font-weight: bold;
  color: rgb(172, 29, 4);
}
@media screen and (max-width: 540px){
    .TEST{
      position: absolute;
      z-index: 3;
      font-size: 3em;
      bottom: 0;
      text-decoration: none;
    }
    .sectiondroit{
      top: 120%;
      width: 100%;
      max-height: 40%;
      border: none;
      background: transparent;
    }
    .ulButton{
      width: 60%;
      padding: 3%;
      border: none;
      border-radius: 10px;
      margin-top: 2%;
      margin-bottom: 2%;
    }
    .delThisButton{
      width: 60%;
      padding: 3%;
      margin-top: 2%;
      margin-bottom: 2%;
      Background: rgb(172, 29, 4);
      color: white;
      border: none;
      border-radius: 10px;
    }
    .mapSize{
      width: 101%;
      height: 90%;
    }
    .buttonItineraire{
      position: absolute;
      z-index: 3;
      padding-top: 100px;
      margin-left: 1%;
      bottom: -9%;
    }
}
 