.App {
  text-align: center;
}
body{
  background: url("https://i.imgur.com/w1RiP7a.jpg");
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  width: 17%;
}
.App-logoo {
  animation: App-logo-spin infinite 1s linear;
  height: 40vmin;
  width: 17%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.cul{
  font-size: 50px;
  color: orangered;
}
.cul1{
  font-size: 50px;
  color: orchid;
}
a.active{
  color: red;
}
a{
  margin-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** CSS MAP **/
li{
 list-style-type: none;
}
h2{
  margin-top: 0px;
  margin-bottom: 0px;
}

.MAAP{

  margin-top: 300px;
  position: relative;
}

.sectiondroit{
  height: 80%;
  width: 25%;
  background-color: black;
  opacity: 1;
  position: relative;
  margin-left: 75%;
}
.TitrePage {
  padding-left: 35%;
  color: white;
  font-family: aakar  ;
}
/* .mapSize{
  position: absolute;
  width: 75%;
  height: 75%;
} */
.sectionbas{
  position: absolute;
  /* margin-top: 32%;
  margin-left: 55%; */
  bottom: -3%;
  left: 57%;
  display: flex;
  flex-direction: row-reverse;
}
.export{
  background: rgb(27, 190, 27);
  color: white;
  width: 175px;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin: 3px;
}
.import{
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: white;
  margin: 3px;
}
.Page{
  margin-top: 5%;
}

#inputxt{
 
  height: 130px;
}

.MarkerConfig{
  position: absolute;
  height: auto;
  width: 100%;


  background-color: grey;

}

.ulmap{
  margin-bottom: 0px;
}
.imgdiv{
  width: 200px;
  max-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.buttondelete{
  margin-left: 20px;
}

.boutonMarker{
  width: 200px;
  height: 20px;
  border: none;
  border-radius: 10px;
  background: white;
  margin: 3px;

}